Sign Up
<%= form_for @gymrat do |f| %>
<div>
  <%= f.label :first_name %> <br />
    <%= f.text_field :first_name, placeholder: "First Name" %>
</div>
<div>
  <%= f.label :last_name %> <br />
    <%= f.text_field :last_name, placeholder: "Last Name" %>
</div>
<div>
  <%= f.label :email %> <br />
    <%= f.text_field :email, placeholder: "Email" %>
</div>
<div>
  <%= f.label :password %> <br />
    <%= f.password_field :password, placeholder: "Password" %>
</div>
  <%= f.submit "Sign Up" %>
<% end %>
